[Unit]
Description=offlineimap sync

[Service]
Type=oneshot
ExecStart=/home/apwillia/.zinit/plugins/williamspatrick---dotfiles/bin/21_linux_home/offlineimap
TimeoutSec=15m

[Install]
WantedBy=default.target
